<section>
  <div class="container">
    <div class="image-gallery">
      <a class="img-1" href="../../assets/1 (1).jpg">
        <img src="../../assets/1 (1).jpg" class="swara" width="250" height="150">
      </a>

      <a class="img-2" href="../../assets/1 (2).JPG">
        <img src="../../assets/1 (2).JPG" class="swara" width="200" height="300">
      </a>

      <a class="img-3" href="../../assets/1 (3).JPG">
        <img src="../../assets/1 (3).JPG" class="swara" width="300" height="200">
      </a>

      <a class="img-4" href="../../assets/1 (4).JPG">
        <img src="../../assets/1 (4).JPG" class="swara" width="300" height="200">
      </a>

      <a class="img-5" href="../../assets/1 (5).JPG">
        <img src="../../assets/1 (5).JPG" class="swara" width="300" height="200">
      </a>

      <a class="img-6" href="../../assets/1 (6).jpg">
        <img src="../../assets/1 (6).jpg" class="swara" width="150" height="200">
      </a>

      <a class="img-7" href="../../assets/1 (7).jpg">
        <img src="../../assets/1 (7).jpg" class="swara" width="150" height="200">
      </a>

      <a class="img-8" href="../../assets/1 (8).JPG">
        <img src="../../assets/1 (8).JPG" class="swara" width="250" height="250">
      </a>
    </div>
  </div>
</section>

<!--
<section>
  <div class="container">
    <div class="image-gallery">
      <a class="img-1" href="../assets/1 (1).JPG">
        <i class="icon ion.md.expend"></i>
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-2" href="../assets/1 (2).JPG">
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-3" href="../assets/1 (3).JPG">
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-4" href="../assets/1 (4).JPG">
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-5" href="../assets/1 (5).JPG">
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-6" href="../assets/1 (6).jpg">
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-7" href="../assets/1 (7).jpg">
        <i class="icon ion.md.expend"></i>
      </a>

      <a class="img-8" href="../assets/1 (8).JPG">
        <i class="icon ion.md.expend"></i>
      </a>
    </div>
  </div>
</section>

-->