
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 70%;
  max-width: 100rem;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  /*grid-gap: 1rem;*/
  grid-template-areas: 
  'img-1 img-2 img-3 img-3'
  'img-1 img-4 img-5 img-6'
  'img-7 img-7 img-8 img-6';
}

.swara{
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.image-gallery a {
  width: 80%;
  height: 25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-gallery a img {
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: 4rem;
  opacity: 100;
  transition: opacity .5s;
}

.image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  opacity:0;
  transition: opacity .5s;
}

.image-gallery a:hover img,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1{
  grid-area: img-1;
  min-height: 51.5rem;
  /*background-image: url("../..//assets/1\ \(1\).JPG");*/
}
.img-2{
  grid-area: img-2;
  /*background-image: url("../..//assets/1\ \(2\).JPG");*/
}
.img-3{
  grid-area: img-3;
  /*background-image: url("../..//assets/1\ \(3\).JPG");*/
}
.img-4{
  grid-area: img-4;
  /*background-image: url("../..//assets/1\ \(4\).JPG");*/
}
.img-5{
  grid-area: img-5;
  /*background-image: url("../..//assets/1\ \(5\).JPG");*/
}
.img-6{
  grid-area: img-6;
  min-height: 51.5rem;
  /*background-image: url("../..//assets/1\ \(6\).JPG");*/
}
.img-7{
  grid-area: img-7;
  /*background-image: url("../..//assets/1\ \(7\).JPG");*/
}
.img-8{
  grid-area: img-8;
  /*background-image: url("../..//assets/1\ \(8\).JPG");*/
}

@media screen and (max-width: 900px){
  .image-gallery{
    grid-template-areas: 
    'img-1 img-1 img-2 img-2'
    'img-1 img-1 img-3 img-3'
    'img-4 img-4 img-5 img-5'
    'img-6 img-7 img-7 img-7'
    'img-8 img-8 img-8 img-8';
  }
  .image-gallery a{
    height: 20rem;
  }

  .img-1{
    min-height: 41.5rem;
  }
  .img-6{
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas:
      'img-1 img-1 img-1 img-1'
      'img-2 img-2 img-2 img-2'
      'img-3 img-3 img-3 img-3'
      'img-4 img-4 img-4 img-4'
      'img-5 img-5 img-5 img-5'
      'img-6 img-6 img-6 img-6'
      'img-7 img-7 img-7 img-7'
      'img-8 img-8 img-8 img-8';

  }

  .image-gallery a, .img-6, .img-1 {
    min-height: 30rem;
    height: 30rem;
  }

}